node_modules
dist
build
.svelte-kit
coverage
*.min.js
package-lock.json
pnpm-lock.yaml
yarn.lock
workplaces/**/src
workplaces/**/examples
workplaces/**/static
workplaces/**/*.html
workplaces/**/*.svelte
workplaces/**/*.ts
workplaces/**/*.js
!workplaces/**/*config.js
!workplaces/**/.prettierrc
